ul.tags {
  margin:0 0 20px;
  padding:0;
  list-style:none;
  overflow: hidden;
  transition:height 0.5s;

  li {
    background:#EEE;
    color:#666;
    border-radius: 20px;
    height:40px;
    line-height:40px;
    padding:0 15px;
    display: block;
    float:left;
    clear:left;
    font-size:16px;
    font-weight:bold;
    margin:0 0 10px;
  }

  ion-icon {
    margin:0 6px 0 10px;
    color:#CCC;
  }
}

@media screen and (min-width: 768px) {
  ul.tags {
    margin-bottom:0;

    li {
      float:none;
      clear:none;
      display:inline-block;
      margin-bottom:5px;
    }
  }
}
