<ul class="tags">
    <ng-template ngFor let-list let-indexList="index" [ngForOf]=" this.ngRedux.getState().lists">
        <ng-template ngFor let-element let-indexElement="index" [ngForOf]="list.elements">
            <li
                (click)="removeTag(element)"
                *ngIf="element.state"
            >
                {{ element.title }}
                <ion-icon name="close"></ion-icon>
            </li>
        </ng-template>
    </ng-template>
</ul>