ion-card-header {
  border-bottom: solid 1px #EEE;

  .title {
    color: #29B5BB;
    font-size: 22px;
    font-weight: lighter;
  }

  .count {
    color: #999;
    font-size: 14px;
  }

  .image-symbol {
    float: left;
    height: 44px;
    width: auto;
    margin: 0 10px 0 0;
  }

  @media screen and (min-width: 768px) {
    .image-symbol {
      display: none;
    }
  }
}

ion-card-content {
  overflow: hidden;
  transition: max-height 0.5s;
  padding-bottom: 0 !important;

  &.folded {
    max-height: 0;
  }

  &.unfolded {
    max-height: 9999px;
  }

  ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
    }
  }

  .title {
    color: #666;
    font: {
      weight: bold;
      size: 16px;
    }
  }

  .count {
    color: #F5738B;
    font: {
      weight: bold;
      size: 13px;
    }
    margin: -3px 0 10px;
  }

  ion-icon {
    float: right;
    font-size: 33px;
    margin-top: 3px;

    span {
      display: none
    }

    &.off {
      color: #DDD;
    }

    &.on {
      color: #29B5BB;
    }
  }

  @media screen and (min-width: 768px) {
    ion-icon {
      font-size: 20px;
      border: solid 1px #CCC;
      padding: 0 5px;
      border-radius: 11px;

      span {
        display: inline-block;
        font-size: 15px;
        margin-left: 5px;
        position: relative;
        top: -2px;
      }

      &.on {
        border-color: #29B5BB;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  ion-card-header {
    background: {
      size:cover;
      repeat: no-repeat;
    }
    position: relative;
    margin-bottom:-1px;

    &:before {
      content:'';
      display: block;
      width:100%;
      height:calc(100% + 2px);
      left:0;
      top:0;
      position: absolute;
      z-index: 0;
      background:rgba(0,0,0,0.33);
    }

    > * {
      position: relative;
      z-index: 1;
      color:#FFF !important;
      text-shadow: 0px 1px 2px rgba(0,0,0,0.75);
    }
  }

  &.folded {
    max-height: 9999px !important;
  }
}