<ion-card>
    <ion-card-header
        (click)="foldStatus = !foldStatus"
        [style.background-image]="'url(' + list.background + ')'"
    >
        <img [src]="list.image" class="image-symbol">
        <div class="title">{{ list.title }}</div>
        <div class="count">
            {{ getTotalListVisibleElements(list) }}
            tratamientos
        </div>
    </ion-card-header>

    <ion-card-content
        [ngClass]="{
            'folded': foldStatus,
            'unfolded': !foldStatus
        }"
    >
        <ul>
            <ng-template ngFor let-listElem let-elemIndex="index" [ngForOf]="list.elements">
            <li
                    *ngIf="searchTermMatch(listElem.title)"
                    (click)="updateReduxStore(elemIndex, !listElem.state)"
            >
                <ion-icon
                        name="md-star-outline"
                        class="off"
                        *ngIf="!listElem.state"
                ><span>Guardar</span></ion-icon>
                <ion-icon
                        name="md-star"
                        class="on"
                        *ngIf="listElem.state"
                ><span>Guardado</span></ion-icon>

                <div class="title">{{ listElem.title }}</div>
                <div class="count">{{ listElem.subItemCount }} Experiencias</div>
            </li>
            </ng-template>
        </ul>
    </ion-card-content>
</ion-card>