<ion-header>
    <ion-navbar>
        <button
                ion-button
                menuToggle
        >
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Multiestetica</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="col">
        <h2>Tratamientos</h2>
        <ion-item class="search-box">
            <ion-input
                    type="text"
                    placeholder="¿Que tratamientos te interesa?"
                    [(ngModel)]="searchTerm"
                    (keyup)="updateSearch(searchTerm)"
            ></ion-input>
        </ion-item>
    </div>

    <div class="col">
        <h2>Tratamientos favoritos</h2>
        <me-tags></me-tags>
    </div>

    <div class="lists-wrapper">
        <me-list
                *ngFor="let list of this.ngRedux.getState().lists; let listIndex = index"
                [list]="list"
                [listIndex]="listIndex"
        ></me-list>
    </div>
</ion-content>
