page-home {
  ion-icon[name="menu"] {
    color:#CCC;
    position: relative;
    z-index: 1;
  }

  ion-header {
    &:after {
      display: none;
    }

    ion-title {
      text-align: center;
      width: 100%;
      position: absolute;
      left: 0;
      top: 16px;
      z-index:0;

      .toolbar-title { color:#29B5BB; }

    }
  }

  .toolbar-background {
    background:#FFF;
  }

  .serach-box {
    padding-left:0;
  }

  h2 {
    color:#666;
    font: {
      size:25px;
      weight:normal;
    }
    padding:40px 0 10px 0;
    margin:0;

    &:first-child {
      padding-top:20px;
    }
  }

  ion-item.item-md {
    padding-left:0;
  }

  @media screen and (min-width: 768px) {
    .col, me-list {
      display: block;
      width:50%;
      float:left;
    }

    .lists-wrapper {
      clear:both;
    }

    .scroll-content {
      padding-left:80px !important;
      padding-right:80px !important;
    }
  }

}
