<ion-menu [content]="content">
    <ion-header>
        <img src="assets/imgs/logo_multiestetica_dkp.svg" class="logo">
    </ion-header>

    <ion-content>
        <ion-list>
            <button
                menuClose
                ion-item
                *ngFor="let menuOption of menuOptions"
                >
                {{ menuOption }}
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<ion-nav
        [root]="rootPage"
        #content
        swipeBackEnabled="false"
></ion-nav>
