* {
  font-family: 'Arial', sans-serif;
}

.scroll-content {
  background: #F7F7F7;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #29B5BB;
  outline: 0;
}

ion-menu {
  .logo {
    width:140px;
    display: block;
    margin: 18px auto
  }

  button.item-md {
    color:#999;
    font-weight:bold;
    background:none;
  }

  .item-inner {
    border:0 !important;
    min-height:54px;
  }

  ion-list {
    background:#F7F7F7;
  }
}